.mobile-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'DM Sans', sans-serif;
  color: #262525;
}
.header_wrapper {
  background-color: #262525;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
header {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1;
  max-width: 116.9rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 34.1rem;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}
header nav ul li a i {
  background-color: transparent;
}
header .btn {
  background-color: #FC6B3F;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 2.2;
  width: 18rem;
  text-align: center;
  padding: 0.4rem 0;
  border-radius: 2.5rem;
}
.index-screen1 {
  background-color: #262525;
  padding-top: 7rem;
  padding-bottom: 10.4rem;
}
.index-screen1 .content {
  max-width: 116.9rem;
  margin: 0 auto;
}
.index-screen1 .content .visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-screen1 .content .visual .text {
  max-width: 81rem;
}
.index-screen1 .content .visual .text h1 {
  color: #F2C930;
  font-size: 4.2rem;
  line-height: 5.2rem;
  padding-bottom: 3.2rem;
}
.index-screen1 .content .visual .text p {
  font-size: 2.2rem;
  line-height: 3.2rem;
  padding-bottom: 7.8rem;
  color: #fff;
}
.index-screen1 .content .visual .btn {
  color: #ffffff;
  background-color: #FC6B3F;
  display: block;
  border-radius: 3rem;
  padding: 1.7rem 0;
  font-size: 2rem;
  line-height: 2.6rem;
  width: 20.6rem;
  text-align: center;
  text-decoration: none;
}
.index-icons {
  padding-top: 10.2rem;
  padding-bottom: 10.2rem;
  max-width: 116.9rem;
  margin: 0 auto;
}
.index-icons .icons {
  display: flex;
  justify-content: space-between;
  max-width: 23.1rem;
  margin: 0 auto;
  margin-bottom: 4.8rem;
}
.index-icons .icons i {
  font-size: 2rem;
}
.index-icons .icons i:nth-child(2) {
  color: #E93A7D;
}
.index-icons h2 {
  text-align: center;
  font-size: 4.2rem;
  line-height: 5.2rem;
  font-weight: 900;
  padding-bottom: 3.4rem;
}
.index-icons p {
  max-width: 76.8rem;
  text-align: center;
  font-size: 2.2rem;
  line-height: 3.2rem;
  color: rgba(21, 20, 57, 0.4);
  margin: 0 auto;
}
.index-feature {
  max-width: 116.9rem;
  margin: 0 auto;
}
.index-feature h2 {
  text-align: center;
  font-size: 4.2rem;
  line-height: 5.2rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
}
.index-feature .feature-parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index-feature .feature-parent .feature-item {
  max-width: 36.9rem;
  margin-bottom: 8.1rem;
}
.index-feature .feature-parent .feature-item:nth-child(5) p {
  text-align: center;
}
.index-feature .feature-parent .feature-item img {
  width: 100%;
  height: auto;
  display: block;
}
.index-feature .feature-parent .feature-item h3 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.4rem;
  margin-bottom: 4.6rem;
  margin-top: 1.8rem;
  text-align: center;
}
.index-feature .feature-parent .feature-item p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: rgba(21, 20, 57, 0.4);
}
.index-feature .feature-parent .feature-item h4 {
  padding-top: 4rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  text-align: center;
}
.index-feature .feature-parent .feature-item a.demo {
  display: block;
  width: 20.1rem;
  background-color: #FC6B3F;
  padding: 1.2rem 0;
  text-align: center;
  border-radius: 3rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #fff;
  text-decoration: none;
  margin: 7.4rem auto 0;
}
footer {
  background-color: #262525;
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
}
footer .content {
  max-width: 116.9rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .content ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  width: 48.7rem;
}
footer .content ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.6rem;
}
footer .content .icons {
  display: flex;
  justify-content: space-between;
  width: 18.2rem;
}
/*# sourceMappingURL=styles.css.map */